body {
    background-color: #fff;
}
.main-content > main{
    max-width: 1195px;
    margin: 0 auto;
}
.categories {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.categories__category {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    cursor: pointer;
}
.categories__category__big-card {
    width: calc((100% - 5px) / 2);
    margin-bottom: 5px;
}
.categories__category__big-card:first-child {
    margin-right: 5px;
}
.categories__category__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    left: 25px;
    bottom: 25px;
}
.categories__category__content__title {
    font-family: Montserrat;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0;
    text-align: left;

}
.categories__man__title {color:#fff;} .categories__man__subtitle{color:#ccc}
.categories__category__content__link {
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0;
    text-align: left;
    margin-top: 4px;
}
.categories__category__normal:not(:last-child) {
    margin-right: 5px;
}
.categories__category__normal > .categories__category__content {
    left: 15px;
    bottom: 20px;
}

a.categories__category.categories__category__normal:hover span {
    border-bottom: 1px solid #000;
}
a.categories__category.categories__category__big-card:hover {
    filter: grayscale(0.35);
}

.categories__category__content__tag {
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0;
    text-align: center;
    border-radius: 2px;
    padding: 5px 10px;
}
.categories__category__content__tag__allocated {
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 0;
    text-align: center;
    color: #fff;
    background: #F83636;
    border-radius: 2px;
}
.new-arrivals {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.new-arrivals__header,
.popular__header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 25px 0;
}
.new-arrivals__header__title,
.popular__header__title{
    font-family: Montserrat;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0;
}
.new-arrivals__header__link {
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.new-arrivals__header__link > a,
.popular__header__link > a{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #666;
}
.new-arrivals__header__link > a > svg,
.popular__header__link > a > svg {
    margin-left: 12px;
}
.new-arrivals__columns {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    margin: 0 auto;
}
.new-arrivals__columns__column {
    width: calc((100% - 5px) / 2);
    max-height: 765px;
    overflow: hidden;
}
.new-arrivals__columns__column:first-child {
    margin-right: 5px;
    background-color: #f8f8f8;
}
.new-arrivals__columns__column__item,
.new-arrivals__columns__column__items__item,
.popular__slider__slide{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}
.new-arrivals__columns__column__items__item,
.popular__slider__slide{
    padding-top: 25px;
    padding-bottom: 28px;
    background-color: #f3f3f3;
    width: calc((100% - 5px) / 2);
    max-height: 380px;
    position: relative;
}
.new-arrivals__columns__column__items__item:nth-child(1),
.new-arrivals__columns__column__items__item:nth-child(2){
    margin-bottom: 5px;
}
.new-arrivals__columns__column__items__item:not(:nth-child(even)) {
    margin-right: 5px;
}
.new-arrivals__columns__column__items__row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.new-arrivals__columns__column__item__top-image,
.new-arrivals__columns__column__item__thumbnail {
    max-width: 500px;
    margin: 0 auto;
}

.new-arrivals__columns__column__item__top__wrap {
    width: 100%;
}
.new-arrivals__columns__column__item__top__wrap__top-image {
    margin-top: 22px;
    height: 119px;
}
.new-arrivals__columns__column__item__top__wrap__middle-image {
    margin-bottom: 79px;
    height: 381px;
}
.new-arrivals__columns__column__item__top__wrap__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 0 34px;
}

.new-arrivals__columns__column__item__title {
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0;
    text-align: center;
    color: #333;
}
.new-arrivals__columns__column__item__description {
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0;
    text-align: center;
    color: #666;
    max-width: 385px;
}
.new-arrivals__columns__column__item__link {
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0;
    text-align: center;
    color: #333;
    margin-top: 10px;
}
.new-arrivals__columns__column__item__link > svg {
    margin-left: 20px;
}
.new-arrivals__columns__column__items__item__wrap {
    width: 225px;
    height: 225px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #fff;
}
.new-arrivals__columns__column__items__item__image {
    width: 100%;
    height: auto;
}
.popular__slider__slide__image__wrap {
    width: 225px;
    height: 225px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #fff;
}
.popular__slider__slide__image {
    width: 100%;
    height: auto;
}
.popular__slider__slide__image__wrap__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.045);
}
.new-arrivals__columns__column__items__item__brand,
.popular__slider__slide__brand{
    margin-top: 20px;
}
.new-arrivals__columns__column__items__item__brand,
.new-arrivals__columns__column__items__item__price,
.popular__slider__slide__brand,
.popular__slider__slide__price{
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0;
    text-align: center;
    color: #333;
}
.new-arrivals__columns__column__items__item__title,
.popular__slider__slide__title{
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0;
    text-align: center;
    color: #666;
    min-height: 20px;
}
.new-arrivals__columns__column__items__item__type,
.popular__slider__slide__type{
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0;
    text-align: center;
    color: #666;
}
.new-arrivals__columns__column__items__item__sku,
.popular__slider__slide__sku{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 35px;
    color: rgba(0, 0, 0, 0.35);
    position: absolute;
    bottom: 0;
    width: 100%;
}
.popular__slider__slide {
    width: auto;
}
.new-arrivals__columns__column__items__item,
.popular__slider__slide {
    padding-top: 0;
}
.popular__slider {
    width: 100%;
    overflow: hidden;
}
.popular__swiper-container__slider-controls {
    width: 100%;
    margin-top: 30px;
    height: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.popular__swiper-container__swiper-button-prev {
    margin-right: 107px;
    height: 19px;
    cursor: pointer;
}
.popular__swiper-container__swiper-button-next {
    margin-left: 107px;
    height: 19px;
    cursor: pointer;
}
.popular__swiper-container__swiper-button-prev:focus,
.popular__swiper-container__swiper-button-next:focus {
    outline: none;
}
.popular__swiper-container__swiper-pagination {
    display: block;
}
.popular__swiper-container__slider-controls > .popular__swiper-container__swiper-pagination >.swiper-pagination-bullet-active {
    background: #333333;
}
.popular__swiper-container__slider-controls >
.popular__swiper-container__swiper-pagination >
.swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    background: #000;
}
.popular__swiper-container__slider-controls >
.popular__swiper-container__swiper-pagination >
.swiper-pagination-bullet:not(:last-child) {
    margin-right: 16px;
}

.twentytwenty-handle {
    box-shadow: none !important;
    border: 2px solid #fff !important;
    background: #fff !important;
    opacity: 0.75 !important;
}
.twentytwenty-horizontal .twentytwenty-handle:before, .twentytwenty-horizontal .twentytwenty-handle:after {
    width: 0 !important;
}
.twentytwenty-left-arrow {
    border-right: 6px solid black !important;
}

.twentytwenty-right-arrow {
    border-left: 6px solid black !important;
    right: 50% !important;
    margin-right: -17px !important;
}
.twentytwenty-handle {
    box-shadow: none !important;
    border: 2px solid #fff !important;
    background: #fff !important;
    opacity: 0.75 !important;
}

@media screen and (max-width: 767px) {
	.categories__man__title{
		color:#000;
	}
    .categories__category {
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0;
    }
    .mobile__hide {
        display: none;
    }
    .new-arrivals__columns__column__items__item__brand,
    .new-arrivals__columns__column__items__item__price,
    .popular__slider__slide__brand,
    .popular__slider__slide__price {
        font-size: 80%;
    }

    .new-arrivals__columns__column__item__description {
        padding: 0 30px;
        font-size: 10px;
    }
    .categories__category__big-card:first-child {
        margin-right: 2px;
    }
    .categories__category__big-card, .categories__category__normal {
        width: calc((100% - 2px) / 2);
        margin: 0 auto 2px;
    }

    .categories__category__normal:not(:last-child) {
        margin-right: unset;
    }
    .categories__category__normal:nth-child(odd) {
        margin-right: 2px;
    }
    .categories__category__big-card > img,
    .categories__category__normal > img{
        width: 100%;
        height: auto;
    }
    .popular__slider__slide__image__wrap,
    .new-arrivals__columns__column__items__item__wrap{
        width: 140px;
        height: 140px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .popular__slider__slide__image {
        width: 100%;
        height: auto;
    }
    .popular__swiper-container__swiper-button-prev {
        margin-right: 25px;
    }
    .popular__swiper-container__swiper-button-next > svg,
    .popular__swiper-container__swiper-button-prev > svg {
        display:none;
    }
    .popular__swiper-container__swiper-button-next {
        margin-left: 25px;
    }
    .popular__swiper-container__slider-controls >
    .popular__swiper-container__swiper-pagination >
    .swiper-pagination-bullet:not(:last-child) {
        margin-right: 10px;
    }
    .popular__swiper-container__slider-controls >
    .popular__swiper-container__swiper-pagination >
    .swiper-pagination-bullet {
        width: 6px;
        height: 6px;
        background: #000;
    }
    .categories__category__normal > .categories__category__content {
        left: 5px;
        bottom: 10px;
    }
    .categories__category__content {
        left: 10px;
        bottom: 10px;
    }
    .categories__category__content__title {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0em;
        text-align: center;
        background: #fff;
        border-radius: 2px;
        padding: 5px 10px;
        font-size: 0.75em;
    }
    .categories__category__content__link {
        display: none;
    }
    .categories__category__content__tag {
        font-size: 0.75em;
        line-height: 18px;
    }
    .categories__category__content__tag__allocated {
        font-size: 0.85em;
    }
    .new-arrivals__header, .popular__header {
        width: 95%;
        padding: 0 10px;
        margin: 5px auto;
    }
    .new-arrivals__columns__column__item__top {
        padding: 0 0 14px 0;
    }
    .new-arrivals__columns__column__item__top__wrap__top-image {
        padding: 5px 0;
        margin-top: unset;
        height: auto;
    }
    .new-arrivals__columns__column__item__top__wrap__middle-image {
        margin-bottom: 30px;
        height: auto;
        width: 100%;
    }
    .new-arrivals__columns__column__item__top__wrap__text {
        padding: 0 0 0;
    }

    .new-arrivals__columns__column__items__item:nth-child(1),
    .new-arrivals__columns__column__items__item:nth-child(2) {
        margin-bottom: unset;
    }
    .new-arrivals__header__title, .popular__header__title{
        font-size: 12px;
    }
    .new-arrivals__header__link > a, .popular__header__link > a {
        font-size: 10px;
        color: #999;
    }
    .new-arrivals__header__link > a > svg, .popular__header__link > a > svg{
        height: 9px;
        margin-left: 5px;
    }
    .new-arrivals__columns {
        flex-direction: column;
        margin: 0 auto;
        width: 100%;
    }
    .new-arrivals__columns__column {
        width: 100%;
    }
    .new-arrivals__columns__column__item__top {
        padding: 0 0 14px 0;
    }
    .new-arrivals__columns__column__item__title {
        margin-top: 5px;
    }
    .new-arrivals__columns__column__item__top-image,
    .new-arrivals__columns__column__item__thumbnail,
    .new-arrivals__columns__column__items__item__image,
    .popular__slider__slide__image{
        height: auto;
    }
    .new-arrivals__columns__column__item__top-image
    /*.new-arrivals__columns__column__item__thumbnail*/ {
        max-width: 288px;
    }
    .new-arrivals__columns__column__items__item__image,
    .popular__slider__slide__image {
        max-width: 150px;
    }
    .new-arrivals__columns__column__items__item:not(:nth-child(even)) {
        margin-right: unset;
    }
    .new-arrivals__columns__column__items__item{
        margin-bottom: unset;
        width: 50%;
    }

    .new-arrivals__columns__column__items__item__brand,
    .popular__slider__slide__brand {
        margin-top: unset;
        line-height: 14px;
    }

    .new-arrivals__columns__column__items__item__title,
    .popular__slider__slide__title{
        font-size: 0.75em;
        white-space: nowrap;
        overflow: hidden;
    }
    .new-arrivals__columns__column__items__item__sku, .popular__slider__slide__sku{
        bottom: 5px;
        color: rgba(0,0,0,0.15);
    }

    .new-arrivals__columns__column__items__item__type, .popular__slider__slide__type {
        line-height: 10px;
        min-height: 10px;
        font-size: 10px;
        white-space: nowrap;
        overflow: hidden;
    }

    .popular__swiper-container__slider-controls {
        margin-top: 10px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .categories__category__normal {
        width: calc((100% - 15px) / 4);
    }
    .categories__category > img {
        width: 100%;
    }
    .new-arrivals__header, .popular__header {
        margin: 10px auto;
    }
    .new-arrivals__header__link,
    .popular__header__link{
        margin-right: 10px;
    }
    .new-arrivals__columns__column__item__top-image,
    .new-arrivals__columns__column__item__thumbnail,
    .popular__slider__slide__image{
        height: auto;
    }
    .new-arrivals__columns__column__item__top-image,
    .new-arrivals__columns__column__item__thumbnail {
        max-width: 100%;
    }
    .popular__slider__slide__image__wrap,
    .new-arrivals__columns__column__items__item__wrap{
        width: 150px;
        height: 150px;
    }
    .new-arrivals__columns__column__items__item__image {
        max-width: 150px;
        height: auto;
    }
    .new-arrivals__columns__column__items__item__title,
    .popular__slider__slide__title {
        font-size: 10px;
        line-height: 15px;
        min-height: 16px;
    }
    .new-arrivals__columns__column__items__item,
    .popular__slider__slide {
        padding-top: 10px;
        padding-bottom: 23px;
    }
    .new-arrivals__columns__column__items__item__brand,
    .popular__slider__slide__brand,
    .new-arrivals__columns__column__items__item__price,
    .popular__slider__slide__price{
        margin-top: 10px;
        line-height: 30px;
    }
    .new-arrivals__header__title,
    .popular__header__title,
    .new-arrivals__header__link{
        line-height: 20px;
    }
    .new-arrivals__columns__column__items__item:nth-child(n+3) {
        margin-bottom: 0;
    }
    .popular__swiper-container__slider-controls  {
        margin-top: 20px
    }
    .new-arrivals__columns__column__item__top__wrap__top-image {
        height: auto;
        margin-top: 4px;
    }
    .new-arrivals__columns__column__item__top__wrap__middle-image{
        height: auto;
        margin-bottom: 12px;
        max-width: 382px;
    }
}

@media screen and (min-width: 1024px) {
    .categories__category__normal {
        width: calc((100% - 15px) / 4);
    }

    .categories__category > img {
        width: 100%;
    }
    .new-arrivals__header__link,
    .popular__header__link{
        margin-right: 10px;
    }
}


