.menu-header-menu-container, div.menu {
    height: 100%;
}
.menu li {
    list-style: none;
}
.menu a {
    color: #000;
    text-decoration: none;
    display: block;
    padding: 28px 15px;
    font-size: 13px;
}
.menu a:hover {
    color:#666;
}
.menu-header-menu-container > ul.menu > li.menu-item {
    height: 100%;
}
.menu-header-menu-container > ul.menu > li.menu-item > a {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
}
.menu ul.sub-menu {
    display: none;
}
ul.menu {
    margin-top: 0;
    margin-bottom: 0;
    height: 100%;
}
@media screen and (min-width: 992px) {
    ul.menu > li.menu-item:hover > ul.sub-menu {
        display: flex;
    }
}
.menu .menu-item ul.sub-menu {
    position: absolute;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0 auto;
    padding: 15px 120px 15px 245px;
    top: 65px;
    left: 0;
    right: 0;
    background: #fff;
    max-width: 1080px;
    align-items: stretch;
    flex-grow: 1;
    border-top: 1px solid #eee;
    -webkit-box-shadow: 0px 4px 3px -3px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 4px 3px -3px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 4px 3px -3px rgba(34, 60, 80, 0.2);
}
.menu .menu-item ul.sub-menu > li.menu-item {
    display: flex;
    flex-direction: column-reverse;
    width: auto;
    align-items: flex-start;
    writing-mode: initial;
    justify-content: flex-end;
    margin-right: 15px;

}
.menu > .menu-header-menu-container > ul.menu > li.menu-item > ul.sub-menu > li.menu-item > a {
    width: 90%;
    border-top: 1px solid #eee;
    color: #666;
}
.menu > .menu-header-menu-container > ul.menu > li.menu-item > ul.sub-menu > li.menu-item:nth-last-child(-n+2) > a {
    border-top: none;
    position: relative;
    width: 100%;
}

.menu > .menu-header-menu-container > ul.menu > li.menu-item > ul.sub-menu > li.menu-item:nth-last-child(-n+2) > a > span{
    position: absolute;
    width: 100%;
    bottom: 5px;
    background-color: #fff;
    padding: 10px 0;

    text-transform: uppercase;
}
.menu > .menu-header-menu-container > ul.menu > li.menu-item > ul.sub-menu > li.menu-item:nth-last-child(-n+2) > a:hover {
    opacity: 0.7;
}
.menu > .menu-header-menu-container > ul.menu > li.menu-item > ul.sub-menu > li.menu-item:nth-last-child(-n+2) > a:hover > span {
    background-color: transparent;
}

.menu .menu-item ul.sub-menu > li.menu-item >ul.sub-menu {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    max-height: 400px;
    flex-wrap: wrap;
    position: unset;
    padding: 0;
    min-width: 150px;
    writing-mode: vertical-lr;
    border-top: none;
    box-shadow: none;
    padding: 0;
    font-size: 12px;
    line-height: 28px;
}
.menu > .menu-header-menu-container > ul.menu > li.menu-item > ul.sub-menu > li.menu-item:nth-last-child(2) {
    margin-left: auto;
}
.menu > .menu-header-menu-container > ul.menu > li.menu-item > ul.sub-menu > li.menu-item:nth-last-child(-n+2){
    margin-right: 0;
    border-top: none;
}
.menu .menu-item a {
    padding: 0 10px;
}
.only-mobile {
    display: none !important;
}

@media screen and (max-width:991px) {
    .only-mobile {
        display: block !important;
    }
    .m-menu-container {
        position: relative;
    }
    .hide-mobile {
        display: none !important;
    }
    ul.menu {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0;
        margin: 0;
    }
    .menu .menu-item ul.sub-menu {
        padding: 20px 10px;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        right: unset;
        flex-wrap: nowrap;
        width: 80%;
        height: calc(100% - 41px);
        left: 30px;
        top: 0;
        bottom: 0;
        z-index: 1;
    }
    .menu .menu-item ul.sub-menu:before {
        content: "";
        position: absolute;
        width: 30px;
        height: 100%;
        background-color: #eee;
        left: -30px;
        top: -1px;
    }
    .menu .menu-item ul.sub-menu > li.menu-item {
        display: flex;
        flex-direction: column;
        width: auto;
        align-items: flex-start;
        justify-content: flex-start;
        margin-right: 0;
    }
    .menu-header-menu-container > ul.menu > li.menu-item > a:focus-visible,
    .menu-header-menu-container > ul.menu > li.menu-item:focus-visible {
        border: none;
        background: transparent;
        outline: none;
    }
    ul.menu > li.menu-item > ul.sub-menu > li.menu-item:nth-child(2) {
        width: 100%;
        height: 100%;
        max-height: unset;
    }
    .menu .menu-item ul.sub-menu > li.menu-item:nth-child(2) > ul.sub-menu {
        margin: 0;
        height: 85%;
        width: 100%;
    }

    .menu .menu-item ul.sub-menu > li.menu-item >ul.sub-menu {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        flex-wrap: nowrap;
        max-width: unset;
        flex-grow: unset;
        writing-mode: initial;
        max-height: unset;
        height: 100%;
        overflow-y: auto;
    }
    .menu > .menu-header-menu-container > ul.menu > li.menu-item > ul.sub-menu > li.menu-item > a {
        color: #666;
        font: 14px/23px Montserrat,sans-serif
    }

    .revert-back {
        padding: 0 0 10px 5px;
        border-bottom: 1px solid #eee;
        width: 100% !important;
        margin-bottom: 10px;
        position: relative;
    }

    .revert-back:before {
        content: "";
        position: absolute;
        width: 15px;
        height: 15px;
        background-image: url("../img/arraow-black.svg");
        background-repeat: no-repeat;
        left: 0;
        top: 5px;
        transform: rotate(-90deg);
    }
}